PORT=5001

# Oracle Production Database (SPJLIVE - Read Only)
ORACLE_HOST=144.24.138.129
ORACLE_PORT=1521
ORACLE_SERVICE_NAME=pdb1.sub06121018360.prodvcn.oraclevcn.com
ORACLE_USER=SPJLIVE
ORACLE_PASSWORD=SPjlive_0112#
ORACLE_JDBC_URL=jdbc:oracle:thin:@//144.24.138.129:1521/pdb1.sub06121018360.prodvcn.oraclevcn.com

# MSSQL Database
DB_SERVER=103.197.76.251
DB_PORT=1433
DB_NAME=SPJ
DB_USER=sa
DB_PASSWORD=jqgiF@12345ZPK
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true
DB_CONNECTION_TIMEOUT=5000
DB_REQUEST_TIMEOUT=15000
