.Menu
{  
 padding:0;
}

.Menu ul
{  
    background:#7795BD;
    display:inline 
}

.Menu ul li
{
  
    background:#7795BD;
   /* background-image: url(images/imagemenu.jpg);*/
	background-repeat: repeat-x;
    text-align:left;
    /* set width if needed.*/
}

.Menu ul li a
{
    color: black;
    padding: 2px 1px 2px;
    padding-left:4px !important;
    border:1px solid #648ABD;
    border-bottom: 0;
    display:inline;
    
}

.Menu ul li a:hover
{
    background-image: none;
}

.Menu ul li a:hover
{
    color: White;
}

.Menu ul li a
{
    color: Black;
}